/* App-wide styling */
body {
  background-color: #b7b7ea;
  color: #2c2541;
  font-family: "Momo Trust Display", Geneva, Verdana, sans-serif;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#title_div {
  background-color: #a09adf;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
  border-bottom: 2px solid #7c67c4;
}

#title {
  font-size: 2.5em;
}

#image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#central_image {
  max-height: 70vh;
  max-width: 90%;
  height: auto;
  width: auto;
  display: block;
  border-radius: 8vh 3vh;
}

#buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 9vh;
  width: 100%;
}

#buttons button {
  width: 30vh;
  height: 5vh;
  border-radius: 3vh 8vh;
  margin: 0 1vh;
  font-family: "Lilita One", Geneva, Verdana, sans-serif;
  font-size: 1.5em;
}

#good_button {
  background-color: #a09adf;
}

#bad_button {
  background-color: #d2d3f3;
}
